Diagnostics:
  UnusedIncludes: None

InlayHints:
  Enabled: No

CompileFlags:
  Add:
    - --target=arm-none-eabi
    - --gcc-toolchain=/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi
    - --sysroot=/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi
    - -mcpu=cortex-a53
    - -mfloat-abi=hard
    - -mfpu=neon-fp-armv8
    - -ffreestanding
    - -nostdlib
    - -isystem/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi/include
    - -isystem/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi/include/c++/15.2.1
    - -isystem/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi/include/c++/15.2.1/arm-none-eabi
    - -isystem/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi/lib/gcc/arm-none-eabi/15.2.1/include
  CompilationDatabase: build

---
If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - "-std=gnu11"

---
If:
  PathMatch: .*\.(cpp|cc|cxx)$
CompileFlags:
  Add:
    - -std=gnu++20

---
If:
  PathMatch: .*src/memory_map/.*\.h$
CompileFlags:
  Add:
    - -xc++
    - -std=gnu++20
