Diagnostics:
  UnusedIncludes: None

InlayHints:
  Enabled: No

CompileFlags:
  Add:
    - "march=armv8"
    - "mcpu=cortex-a53 "
    - "mfloat-abi=hard "
    - "mfpu=neon-fp-armv8 "
    - "ffreestanding "
    - "nostdlib "   
    - "-Wall"
    - "-g3"
    - "-I/opt/homebrew/Cellar/arm-none-eabi-gcc/15.2.0/lib/gcc/arm-none-eabi/15.2.0/include"
    - "-I/opt/homebrew/Cellar/arm-none-eabi-gcc/15.2.0/lib/gcc/arm-none-eabi/15.2.0/include-fixed"
    # Указываем, что это bare-metal окружение
    - "-nostdinc"
  CompilationDatabase: build

---
If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - "-std=gnu11"

---
If:
  PathMatch: .*\.(cpp|cc|cxx)$
CompileFlags:
  Add:
    - "-std=c++20"

---
If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - "-xc"
    - "-std=gnu11"
