Diagnostics:
  UnusedIncludes: None

InlayHints:
  Enabled: No

CompileFlags:
  Compiler: /Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi/bin/arm-none-eabi-gcc
  Add:
    - "--target=arm-none-eabi"
    - "--sysroot=/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi"
    - "-march=armv8-a"
    - "-mcpu=cortex-a53"
    - "-mfloat-abi=hard"
    - "-mfpu=neon-fp-armv8"
    - "-ffreestanding"
    - "-nostdlib"
    - "-Wall"
    - "-g3"
    - "-isystem/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi/include"
    - "-isystem/Users/mt/embedded/raspberry/arm-gnu-toolchain-15.2.rel1-darwin-arm64-arm-none-eabi/arm-none-eabi/lib/gcc/arm-none-eabi/15.2.1/include"
  CompilationDatabase: build

---
If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - "-std=gnu11"

---
If:
  PathMatch: .*\.(cpp|cc|cxx)$
CompileFlags:
  Add:
    - "-std=c++20"

---
If:
  PathMatch: .*\.h$
CompileFlags:
  Add:
    - "-xc"
    - "-std=gnu11"
